<footer class="bg-black text-white flex justify-center items-center py-3 p-10">
    <div class="flex justify-center items-center">
        <p class="text-2xl">Proyecto ESI - 2026</p>
    </div>
    <div class="flex justify-center items-center">
        <p class="text-2xl"></p>
    </div>
</footer>
