<section id="text_info" class="" style="padding: 50px;">
    <h3 class="text-5xl p-3.5">¿Qué es la ESI?</h3>
    <div class="flex justify-center items-center flex-col gap-5">
        <div>
            <p class="text-2xl" style="margin: 2.5rem;">
                La ESI es una propuesta, tiene como objetivo que todos los
                niños, niñas y adolescentes puedan:
            </p>
        </div>
        <ul
            class="text-2xl flex justify-center align items-center flex-col gap-5"
            style="margin: 2.5rem;"
        >
            <li>
                <p class="badge">
                    Conocer y valorar su cuerpo, sus cambios, sus capacidades y
                    sus necesidades.
                </p>
            </li>
            <li>
                <p class="badge">
                    Conocer y respetar sus derechos, los de los demás y los de
                    su entorno.
                </p>
            </li>
            <li>
                <p class="badge">
                    Conocer y valorar su cuerpo, sus cambios, sus capacidades y
                    sus necesidades.
                </p>
            </li>
        </ul>
    </div>
</section>
<section id="temas" class="flex justify-center items-center flex-col">
    <h3 class="text-4xl p-4" style="margin: 100px;">Temas que aborda la ESI</h3>
    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Cuidado del cuerpo y la salud</h2>
            <p>
                Promueve el conocimiento de si mismo y de los cambios que
                ocurren en el cuerpo.
            </p>
            <div class="card-actions justify-end m-4">
                <a
                    href="https://es.wikipedia.org/wiki/Valoración_de_la_afectividad"
                    ><button class="btn btn-primary">Mas info</button></a
                >
            </div>
        </div>
    </div>
    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Valoración de la afectividad</h2>
            <p>Promueve la valoración de los sentimientos y emociones</p>
            <div class="card-actions justify-end">
                <a
                    href="https://es.wikipedia.org/wiki/Valoración_de_la_afectividad"
                    ><button class="btn btn-primary">Mas info</button></a
                >
            </div>
        </div>
    </div>
    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Igualdad de género</h2>
            <p>Promueve el respeto al otro sin importar el genero</p>
            <div class="card-actions justify-end">
                <a
                    href="https://es.wikipedia.org/wiki/Valoración_de_la_afectividad"
                    ><button class="btn btn-primary">Mas info</button></a
                >
            </div>
        </div>
    </div>
</section>
<section>
    <div class="flex justify-center items-center flex-col">
        <h3 class="text-3xl text-center" style="margin: 100px;">
            ¿Para qué sirve la ESI?
        </h3>
        <p
            class="alert alert-infotext-2xl w-2/3 flex justify-center items-center text-center"
        >
            La ESI no viene a incomodarte, viene a despertarte. Es entender tu
            cuerpo, tus emociones y tus decisiones sin filtros raros ni
            vergüenza heredada. Es tener la posta para cuidarte, respetar y
            hacerte respetar en un mundo donde nadie nace sabiendo. Porque
            crecer sin información no te hace más libre, te hace más vulnerable.
            Y la ESI está para lo contrario: darte herramientas, voz y criterio.
        </p>
    </div>
</section>
