<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="imagen/png" href="/Frame 1.png" />
		<meta name="generator" content={Astro.generator} />
		<title>ESI - Educacion Sexual Integral</title>
		<meta
			name="description"
			content="Información clara y sin tabúes sobre educación sexual integral: cuerpo, relaciones, consentimiento y cuidados explicados de forma simple."
		/>
		<meta name="type" content="website" />
		<meta name="author" content="Santiago Cussit" />
		<meta name="locale" content="es-AR" />
		<meta name="googlebot" content="index, follow" />
		<meta name="global:ilen:accept-language" content="es" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="es-AR" />
		<meta property="og:title" content="ESI - Educacion Sexual Integral" />
		<meta
			property="og:description"
			content="Información clara y sin tabúes sobre educación sexual integral: cuerpo, relaciones, consentimiento y cuidados explicados de forma simple."
		/>
		<meta
			property="og:image"
			content="https://esi-website-ten.vercel.app/Frame%201.png"
		/>
		<meta property="twitter:card" content="summary_large_image" />
		<meta
			property="twitter:title"
			content="ESI - Educacion Sexual Integral"
		/>
		<meta
			property="twitter:description"
			content="Información clara y sin tabúes sobre educación sexual integral: cuerpo, relaciones, consentimiento y cuidados explicados de forma simple."
		/>
		<meta
			property="twitter:image"
			content="https://esi-website-ten.vercel.app/Frame%201.png"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
